<!-- app/views/users/feed.html.erb -->
<div class="flex min-h-screen">
  <!-- Sidebar -->
  <%= render 'shared/sidebar', user: current_user %>
    <!-- Side Navigation -->
    

    <!-- Main Content -->
    <div class="w-3/4">
    <!-- Search Bar -->
  <div class="bg-white shadow p-4">
    <div class="container mx-auto flex justify-center">
      <input type="text" placeholder="Search in community like post, tag, feature, ..." class="input input-bordered w-full max-w-2xl">
    </div>
  </div>
      <% if @posts.present? && @posts.any? %>
        <% @posts.each do |post| %>
          <%= render 'posts/post_card', post: post %>
        <% end %>
      <% else %>
        <p class="text-gray-700">No posts available.</p>
      <% end %>
    </div>
  </div>
</div>
