<div class="flex min-h-screen pt-16"> <!-- Adjusted the padding to push the content down -->
  <!-- Sidebar -->
  <%= render 'shared/sidebar', user: current_user %>

  <!-- Main Content -->
  <div class="flex-grow p-8">
    <% if @posts.present? && @posts.any? %>
      <% @posts.each do |post| %>
        <%= render 'posts/post_card', post: post %>
      <% end %>
    <% else %>
      <p class="text-gray-700">No posts available.</p>
    <% end %>
  </div>
</div>
