<div class="bg-gray-100 min-h-screen font-sans shadow-lg rounded-lg">
  <div class="container mx-auto p-6">
    <h1 class="text-3xl font-semibold mb-8 text-gray-800">Feed</h1>
    
    <% @posts.each do |post| %>
      <%= render 'posts/post_card', post: post %>
    <% end %>
    
    <% if @posts.empty? %>
      <p class="text-gray-700 text-center">No posts available.</p>
    <% end %>
  </div>
</div>
