<div class="flex min-h-screen">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %> <!-- Render the sidebar partial here -->

  <!-- Main Content -->
  <div class="w-full ml-64 p-4"> <!-- Reduced margin-left to bring the content closer to the sidebar -->
    <h1 class="text-2xl font-semibold mb-4">Feed</h1>
    <% if @posts.present? && @posts.any? %>
      <% @posts.each do |post| %>
        <%= render 'posts/post_card', post: post %>
      <% end %>
    <% else %>
      <p class="text-gray-700">No posts available.</p>
    <% end %>
  </div>
</div>
