<div class="flex container bg-gray-400 mx-auto pt-16">
  <!-- Sidebar -->
  <div class="w-1/4 pr-4">
    <%= render 'shared/sidebar', user: current_user %>
  </div>

  <!-- Main Content -->
  <div class="w-1/2 bg-gray-400">
    <% if @posts.present? && @posts.any? %>
      <% @posts.each do |post| %>
        <%= render 'posts/post_card', post: post %>
      <% end %>
    <% else %>
      <p class="text-gray-700">No posts available.</p>
    <% end %>
  </div>

  <!-- Right Menu -->
  <div class="w-1/4 fixed top-39 right-10 h-screen overflow-y-auto">
    <%= render 'shared/trending' %>
    <%= render 'shared/WTK' %>
  </div>
</div>
