<div class="navbar bg px-4 py-2 flex justify-between items-center">
  <div class="flex items-center">
    <div class="flex items-center mr-2">
      <a class="text-xl font-bold normal-case ml-4">WeVest</a> 
    </div>
  </div>
  <div class="flex space-x-4 items-center">
    <a href="/" class="nav-link btn btn-ghost rounded-full">Home</a>
    <a href="/feed" class="nav-link btn btn-ghost rounded-full">Feed</a>
    <a href="/posts" class="nav-link btn btn-ghost rounded-full">Users</a>
    <a href="/signup" class="btn btn-primary rounded-full bg-yellow-300 text-black">Sign up</a>
  </div>
</div>

<style>
  .nav-link {
    color: black;
    transition: all 0.3s ease;
  }
  .nav-link:hover {
    background-color: black;
    color: white;
  }
</style>
