<div class="h-screen overflow-y-auto bg-white border-r w-80 shadow-lg fixed top-16 left-0 z-20"> <!-- Adjusted top positioning and z-index -->
  <h2 class="px-5 text-lg font-medium text-gray-800 dark:text-white mt-4">Subscriptions</h2>

  <% if current_user && current_user.subscriptions.any? %>
    <div class="mt-8 space-y-4">
      <!-- Subscription user item -->
      <% current_user.subscriptions.each do |subscription| %>
        <button class="flex items-center w-full px-5 py-2 transition-colors duration-200 dark:hover:bg-gray-800 gap-x-2 hover:bg-gray-100 focus:outline-none">
          <img class="object-cover w-8 h-8 rounded-full" src="<%= subscription.trader.profile_picture.attached? ? url_for(subscription.trader.profile_picture) : 'https://via.placeholder.com/64' %>" alt="<%= subscription.trader.username %>">
          
          <div class="text-left rtl:text-right">
            <h1 class="text-sm font-medium text-gray-700 capitalize dark:text-white">@<%= subscription.trader.username %></h1>
          </div>
        </button>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-500 dark:text-gray-400 px-5">You are not subscribed to any creators.</p>
  <% end %>
</div>
