<div class="w-72  rounded-lg shadow-lg mx-auto mt-4 p-4 bg-white bg-opacity-30 backdrop-filter backdrop-blur-lg ">
  <div class="flex justify-center p-3">
    <h2 class="text-xl font-bold text-gray-900">Who to follow</h2>
  </div>
  <hr class="border-gray-700">

  <!-- Scrollable container with a set max-height -->
  <div class="overflow-y-auto h-50 pb-2 sm:max-h-64 md:max-h-72 lg:max-h-80">
    <% @who_to_know.each do |person| %>
      <div class="p-2 bg-teal-500 bg-opacity-50 flex items-center justify-between border-t border-gray-200 cursor-pointer hover:bg-teal-900 hover:bg-opacity-70 rounded-sm transition duration-300 ease-in-out">
        <div class="flex items-center">
          <%= image_tag person.profile_picture.attached? ? url_for(person.profile_picture) : 'default_avatar.png', class: 'rounded-full h-10 w-10 sm:h-12 sm:w-12' %>
          <div class="ml-2 flex flex-col">
            <div class="leading-snug text-sm text-gray-900 font-bold truncate"><%= person.username %></div>
            <div class="leading-snug text-xs text-gray-600 truncate"><%= person.username %></div>
          </div>
        </div>
        <div>
     
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex justify-center p-3">
  </div>
</div>
