<div class="container mx-auto bg-gray-200 p-4">
  <h2 class="text-2xl font-semibold">Posts</h2>
  <% if @posts.present? %>
    <%= debug @posts %>
    <% @posts.each do |post| %>
      <%= render 'posts/post_card', post: post %>
    <% end %>
  <% else %>
    <p>No posts found.</p>
  <% end %>
</div>
